/* No need to update this file */

* {
  box-sizing: border-box;
}

body,
input {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

#container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #222222;
}

#welcomeBox {
  position: absolute;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #222222;
  color: #fff;
  text-align: center;
}

#enter {
  display: flex;
  padding-top: 5%;
}

#board {
  position: relative;
  text-align: center;
}

#board > h1 {
  color: #fff;
}

.row {
  display: flex;
}

.row > img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  background: url('alt_imgs/environment/grass1.png');
}

#action-cam {
  background: #fff;
  border-radius: 5px;
  min-width: 415px;
}

#action-cam img {
  display: block;
  width: 96px;
  height: 96px;
  object-fit: contain;
  object-position: center;
}

.action-view {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  min-width: 300px;
}

.action-view:first-child {
  border-bottom: 2px solid #ddd;
}

.action-view h3,
.action-view h4 {
  margin: 0;
}

#action-menu {
  text-align: center;
}

#action-menu > div {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

#action-menu button {
  display: block;
  width: 80%;
  padding: 5px;
  margin: 10px auto;
  font-family: 'Press Start 2P', cursive;
  font-size: smaller;
  background-image: url(alt_imgs/button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

#action-menu button:active {
  background-image: url(alt_imgs/button_u.png);
}
